

body{
background: #f2f9cf;
 margin: 20px;
 padding: 10;
font-family: Helvetica Nenu; 
overflow:scroll;
line-height: 1.5;
}

div.wrapper{
min-height:600px;
height: 80%;
width: 900px;
align:center;
background: white;
padding: 20px;
position: relative;
    
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);

box-shadow: 2px 2px 20px #2f331f;
}

a:link {
    color: blue;
}
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: grey;
}

div.Title{
align:left;
color:#333;

}
h1{
font-size:250%;
}

div.topnav {
  overflow: hidden;
  background-color: #333;
}

div.topnav a {
  float: left;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

div.topnav a:hover {
  background-color: #7c7b7b;
  color: white;
}

div.topnav a.active {
    color: white;
}

div.subwrapper{
padding: 30px;
}


div.subwrapper img {
    
    height: 300px;
}

div.leftcol{
position:fixed;
width:50%;


}

div.rightcol{
float: right;
width:70%;

}

li{
list-style-type: square;
}

